[Desktop Entry]
Name=Minetest
GenericName=Minetest
Comment=An InfiniMiner/Minecraft inspired game
Exec=minetest
Icon=minetest-icon
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
